*{
    margin: 0%;
}

.logo{
    background-color: #5f9ea0;
    color: rgb(2, 48, 48);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.menu{
    display: flex;
    
}